<!DOCTYPE html>
<html lang="en">

    <link rel="icon" type="image/png" href="../media/img-dash/404.png" sizes="50x50">
<head>

    <style>
        body{
            background-color: #fff;
        }

        .container-404{
            background: fff;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #error404{
            background: red;
            width: 800px;
        }
    </style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRASH404!</title>
</head>
<body>
    <div class="container-404">
        <!-- <div id="error404"></div> -->
        <img src="../media/img-dash/404.gif" id="error404">
        

    </div>
    
</body>



</html>