 {% load static %}
 <aside class="main-sidebar elevation-4 sidebar-light-navy">
    <!-- Brand Logo -->
    <a href="#" class="brand-link navbar-warning"  >
      <img src="{% static '/img-dash/logo-goya.svg' %}" alt="Goya" >
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="height: 79vh;" >
      <!-- Sidebar user panel (optional) -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                 <li class="nav-item has-treeview menu-open">
            <a href="" class="nav-link active">
              <i class="nav-icon far fa-chart-bar"></i>
              <p>
                Dashboard
                
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="" class="nav-link ">
              <i class="nav-icon fas fa-cubes"></i>
              <p>
                Items
                
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'items:items_feed' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Items</p>
                  <i class="fas fa-angle-left right"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'items:categories_feed'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Categories</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-truck-loading"></i>
              <p>
                Inventory
                <i class="fas fa-angle-left right"></i>
               
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'inventoryLoads:inventory_provider' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Providers</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'inventoryLoads:inventory_load_feed' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Loads</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-warehouse"></i>
              <p>
                Orders
                <i class="fas fa-angle-left right"></i>

              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'orders:order_feed' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ordes generated</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'orders:order_delibery' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Deliberys</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>