{% extends 'main.html' %}
{% block content_head %}

<h1 class="m-0 text-dark">Dashboard</h1>
{% endblock %}
{% block content_main %}

<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Available Categories </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>options</th>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for categorie in categories %}
                      <tr>
                      <td>
                          <a href="{% url 'items:categories_edit' categorie.id%}" class="btn bg-gradient-success">Edit</a>
                          <a href="" class="btn bg-gradient-danger">Delete</a>

                      </td>
                      <td>{{ categorie.name }}</td>
                      <td>{{ categorie.description }}</td>
                      </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>



{% endblock %}
