{% extends 'main.html' %}
{% block content_head %}

<h1 class="m-0 text-dark">Dashboard</h1>
{% endblock %}
{% block content_main %}

<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Categories Form</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                          <div class="form-group">
                        <input
                            class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                            type="text"
                            name="name"
                            placeholder="Insert the category name ..."
                            value = "{{form.name.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
              <div class="form-group">
                        <input
                            class="form-control {% if form.description.errors %}is-invalid{% endif %}"
                            type="text"
                            name="description"
                            placeholder="Insert the category name ..."
                            value = "{{form.description.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Photo field #}
            
                      <input type="submit" class="btn btn-info">
                  </form>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>



{% endblock %}
