{% extends 'main.html' %}
{% block content_head %}

<h1 class="m-0 text-dark">Dashboard</h1>
{% endblock %}
{% block content_main %}

<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Available Items </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Description</th>
                      <th>Stock</th>
                      <th>Category</th>
                        <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in items %}
                      <td>
                          <img src="{{ item.photo.url }}" alt="{{ item.name }}" width="30px">
                      </td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.description }}</td>
                      <td>
                          {% if item.stock > 0 %}
                          <span class="tag tag-success">{{ item.stock }} aviable</span></td>
                              {% else %}
                              <span class="tag tag-danger">{{ item.stock }} whitout products</span>
                          {% endif %}
                      <td>{{ item.category.name }}</td>
                      <td><div class="btn-group">
                        <a href="{% url 'items:items_update' item.id %}" class="btn btn-info">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                      </div>
                      </td>
                      </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock %}
