<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<nav>
    
</nav>

<body>
    <section>
        <h1 style="color: aquamarine; text-decoration: underline; font-size: 90px; font-family: 'Staatliches', cursive; ">
            HOLA MUNDO HDP
        </h1>
        <P>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora enim maiores vitae doloremque aspernatur officiis sit autem dolore, minima accusamus alias dolorem est eaque at odio harum. Ullam, excepturi fugiat!
        </P>
    </section>
    <img src="https://www.online-image-editor.com/styles/2019/images/power_girl.png">
    
<section>
    <ol>
        <li>Number one on the list</li>
        <li>Number two</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>
        <li>A third item</li>  
        <li>A third item</li>       
        <li>A third item</li>       
        <li>A third item</li>       
        <li>A third item</li>       


      </ol>
</section>

<div>
    <img src="https://www.plazapublica.com.gt/sites/default/files/dalanesse.jpg">
</div>
</body>
</html>