<style>

  a:hover{
    font-size: 1.1em;
    text-decoration: wavy;
    color: #fff !important;
  }

  @font-face {
  font-family: goya-font;
  src: url(/static/fonts/GothamMedium.ttf);
}

body{
  background: #ffc107 url("/media/img-dash/bk-imag.svg") no-repeat fixed center !important;
  /* background-color: #ffc107 !important; */
}

.card-body{
  background-color: #FFCD00 !important;
  background-color: #1C1B5E;
            -webkit-box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
            -moz-box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
            box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
}

.form-control{
  background-color: #ffcc000f !important;
  border: 2px solid #fff !important;
  color: black;
}

.btn-singin {
  background-color: #000;
  border: coral;
}

.btn-block {
  font-family: goya-font;
  color: fff !important;
  background-color: #1C1B5E !important;
  display: block;
  width: 100%;
  font-size: 0.75rem;
            font-weight: 400;
            letter-spacing: 0.05em;
            text-decoration: none;
            padding: 0.8em 4em;
            display: block;
            border-radius: 0.4em;
            margin-bottom: 1.6em;
            background-color: #6d6d6d;
            
}

.btn-block:hover {

  font-family: goya-font;
  color: #FFCD00 !important;
  background-color: #212121 !important;
  display: block;
  width: 100%;
  font-size: 1.11rem;
            font-weight: 400;
            letter-spacing: 0.05em;
            text-decoration: none;
            padding: 0.8em 4em;
            display: block;
            border-radius: 0.4em;
            margin-bottom: 1.6em;
            background-color: #1C1B5E;
            -webkit-box-shadow: 0px 13px 34px -6px rgb(205, 205, 205);
            -moz-box-shadow: 0px 13px 34px -6px rgb(205, 205, 205);
            box-shadow: 0px 13px 34px -6px rgb(205, 205, 205);
}


.parallelogram {
  margin-top: 50px;
  margin-left: 2250px;
	width: 100%;
	height: 150px;
	transform: skew(20deg);
  background: #1C1B5E
}

.logo-goya{
  margin-left: auto;
  margin-right: auto;
    height: 300px;
    width: 300px;
}

.footer {
  font-family: goya-font;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 1.0em;
}

</style>


<link rel="icon" type="image/png" href="/media/img-dash/user.png">
<meta name="theme-color" content="#212121">

{% extends "users/base.html" %}
{% block head_content %}
    <title> Ingreso </title>

{% endblock %}
{% block container %}

    {% if from.errors %}
    <p class="alert alert-danger">
    your user name and password didn't mactch 
    </p>
    {% endif %}
    <div class="card">
        <div class="card-body login-card-body">
 <p class="login-box-msg" style="font-family: goya-font;">Please enter
  your username and password.</p>
            <form method="POST" action="{% url "users:login" %}">
                {% csrf_token %}
    <div class="input-group mb-3">
          <input class="form-control" type = "text" placeholder= "username" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user" style="color: #212121;"></span>
            </div>
          </div>
        </div>
<div class="input-group mb-3">
          <input class="form-control" type="password" placeholder="Password" name="password" >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock" style="color: #212121;"></span>
            </div>
          </div>
        </div>

        </div>
    </div>




        <button class = "btn btn-singin btn-block mt5" type="submit"> Sign In</button>
    </form>
    <div class="logo-goya">
      <img src="/media/img-dash/logo-login.svg" alt="logo-login" >
    </div>
    <div class="footer">
      <p>GOYA Baskets powered by <a href="http://batrescs.com/" target="_blank"><b style=" color:#FFCD00;">Batres Creative Services, Inc.</b></a> </p>
    </div>

{% endblock  %}
